/* CSS reset */
* {
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to right, rgba(243, 224, 157, 0.918) , rgb(237, 179, 233));
}

#navbar {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fa8072;
    padding: 11px;
    overflow: hidden;

}

.container-bar {
    display: inline-block;
    cursor: pointer;
    margin-left: 2rem;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.nav-item {
    display: flex;
    color: white;
    /* list-style: none;
    text-decoration: none; */
    text-align: center;
    padding: 6px 8px;
    font-size: 17px;
}

#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
    margin-left: 17%;
}



#navbar ul li a {
    color: black;
    display: block;
    padding: 2px 22px;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;

}
.container-menu-item{
    margin-top: 10rem;
    margin-left: 4rem;
    width: 30%;
    height: 20%;
}
h1{
    font-family:sans-serif;
    font-size: 55px;
    word-spacing: 10px;
    letter-spacing: 5px;
}
p{
    word-spacing: 2px;
    line-height: 1.6;
    font-family: sans-serif;
}
.flex-container-one{
    display: flex;
}
.container-menu-item-para{
    margin-top: 5rem;
}
.container-menu-photo{
    margin-left: 22%;
}
button{
    margin-top: 4rem;
    background-color: #fa8072;
    width: 180px;
    height: 37px;
    border: none;
    color: #ffffff;
}

.flex-container-inner{
    height: initial;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.flex-container-second{
    height: initial;
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 8%;
}
.flex-container-inner-img2{
    margin-bottom: 8px;
}
.flex-container-inner-button{
    width:35%;
    margin-left: 7%;
    background-color: #fa8072;
    margin-top: 8%;
    height: 20%;
    padding: 3rem;
}
.flex-container-inner-heading{
    margin-top: 15px;
    margin-bottom: 15px;
}

.flex-container-inner-icon{
    display: flex;
    margin: 10px;
}
#arrow{
    margin-left: 10px;
}



@media (max-width: 720px) {
    .navbar {
      text-align: center;
    }
  
    .nav-item {
      flex-direction: column;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin: 0.8em 0;
    }
  }


@media (max-width: 800px) {
    .flex-container-one {
      flex-direction: column;
    }
  }
@media (max-width: 800px) {
    .flex-container-second {
      flex-direction: column;
    }
  }
@media (max-width: 600px) {
    #img_1 {
      width: 300px;
      height: 400px;
      margin-left: 0px !important;

      display: block;
      margin-left: auto;
      margin-right: auto;
      
    }
    .responsive_img{
        display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .flex-container-inner-img2{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .flex-container-inner-button{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

  }